.Footer {
  display: flex;
  background-color: var(--layout-background-color-1);
  padding-left: 2em;
  box-shadow:
    0 1rem 1rem rgba(0, 0, 0, 0.5),
    inset 0 1rem 1rem -1rem rgba(0, 0, 0, 0.5);
}

.Footer > * {
  flex-basis: 100%;
}

.LinkSection {
}

.LinkList {
  list-style: none;
  padding-left: 1rem;
}

.PhotoSection {
  padding-bottom: 0;
  max-height: 12rem;
  display: flex;
  justify-content: flex-end;
}

.MainImage {
  max-height: 100%;
  max-width: 100%;
  float: right;
  bottom: 0;
  align-self: flex-end;
  filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.5));
}