:root {
  background-color: #111;

  --layout-background-color-1: rgb(51, 114, 93);
  --layout-background-contrast-color1: rgb(26, 201, 3);
  --font-color: 255, 255, 255;
  --animation-setup: ease-in-out 0.25s;
}

a {
  color: rgb(var(--font-color));
  opacity: 0.85;
  transition: opacity var(--animation-setup);
}

a:hover {
  opacity: 1;
}