.Home {
  display: flex;
  justify-content: center;
}

.Tree {
  float: right;
  max-width: 80%;
  shape-outside: url(/src/assets/Jasontree.png);
  shape-margin: 2rem;
}

.title {
  color: black;
  line-height: 1.1;
}

.article {

}

.paragraph {
  max-width: 50ch;
  line-height: 1.5;
  text-align: left;
}