.App {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: rgb(var(--font-color));
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5em;
  grid-template-rows: 1fr max(12rem);
  grid-template-areas:
    '...... main   ......'
    'footer footer footer';
  justify-content: center;
}

.main { grid-area: main; }
.sidebar {
  grid-area: side;
  display: none;
}
.footer { grid-area: footer; }

.main,
.sidebar {
  --padding-sides: 1rem;
  padding: 2rem var(--padding-sides);
}

@media only screen and (min-width: 769px) {
  .App {
    grid-template-columns: 1.5rem minmax(200px, 350px) minmax(400px, 100%) 1.5em;
    grid-template-rows: 1fr max(12rem);
    grid-template-areas:
      '...... side   main   ......'
      'footer footer footer footer';
  }

  .sidebar {
    display: block;
  }
}